@import "tailwindcss";

@import "./_theme_variables.css";
@import "./layout/_general.css";
@import "./fonts/_fontfaces.css";

.editor-styles-wrapper {
    @apply px-7;

    .wp-block-post-title {
        @apply font-display font-normal text-36 opacity-20;
    }

    .is-desktop-preview {
        @apply font-body text-black text-16 mt-10;
    
        /* LAYOUT */
        section {
            @apply relative;
        }

        .container--left {
            @apply !pl-10;
        }

        .container--right {
            @apply !pr-10;
        }
    
        .padd {
            padding: 50px 0;

            &.--top {
                @apply pt-0;
            }

            &.--bottom {
                @apply pb-0;
            }
        }
    
        .wrap {
            padding: 0 50px;
        }
    
        section[class="bg-white"] + section[class="bg-white"],
        section[class="bg-black"] + section[class="bg-black"], {
            .padd {
                @apply pt-0;
            }
        }
    
        /* TYPOGRAPHY */
        h1,
        .h1 {
            @apply font-display relative block mb-4 text-48;
        }
    
        h2,
        .h2 {
            @apply font-display relative block mb-4 text-36;
        }
    
        h3,
        .h3 {
            @apply font-display relative block mb-4 text-30;
        }
    
        h4,
        .h4 {
            @apply font-display relative block mb-4 text-24;
        }
    
        h5,
        .h5 {
            @apply font-display relative block mb-4 text-20;
        }
    
        h6,
        .h6 {
            @apply font-display relative block mb-4 text-18;
        }
    
        p, ul, ol {
            & + p, & + h1, & + h2, & + h3, & + ul, & + ol {
                @apply mt-7;
            }
        }
    
        a {
            text-decoration: none !important;
        }
    }
}

/* CACHER LES BLOCS "NON-TOLLE" DE WORDPRESS */
.block-editor-inserter__all-blocks {
    & > div {
        @apply hidden;

        &:nth-child(1) {
            @apply inline-flex;
        }

        &:nth-child(2) {
            @apply block;
        }
    }
}

.block-editor-inserter__tips {
    @apply hidden;
}

.icl_als_iclflag {
    @apply hidden;
}

.editor-block-list-item-acf-buttons {
    @apply relative !pointer-events-none opacity-30;

    &::after {
        @apply content-[''] absolute inset-0 z-20;
    }
}

.block-editor-tabbed-sidebar__tablist {
    button {
        @apply hidden;

        &:nth-child(1) {
            @apply block;
        }
    }
}

.components-base-control.components-input-control.components-search-control {
    @apply !hidden;
}

.wp-block {
    &.is-selected {
        z-index: 100;
    }
}