@keyframes wobble-y {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes wobble-x {
    from {
        transform: translateX(-10px);
    }

    to {
        transform: translateX(10px);
    }
}

@keyframes wobble-y-2 {
    from {
        transform: translateY(7px);
    }

    to {
        transform: translateY(12px);
    }
}

@keyframes wobble-x-2 {
    from {
        transform: translateX(-15px);
    }

    to {
        transform: translateX(7px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.wobble-y {
    animation: wobble-y 3s infinite alternate;
}

.wobble-x {
    animation: wobble-x 4.25s infinite alternate;
}

.wobble-y-2 {
    animation: wobble-y-2 4s infinite alternate;
}

.wobble-x-2 {
    animation: wobble-x-2 3.75s infinite alternate;
}

.rotate-10 {
    animation: rotate 10s infinite linear;
}

.rotate-20 {
    animation: rotate 20s infinite linear;
}

.rotate-30 {
    animation: rotate 30s infinite linear;
}